{% extends "navbar/base.html" %}

<style>
  .container {
    max-width: 600px;
    margin: auto;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    overflow: hidden;
    background-color: #e6f4e6;
  }

  .card-header {
    background-color: #a3d9a5;
    color: white;
    padding: 15px;
  }

  .card-header h2 {
    margin: 0;
    font-size: 24px;
  }

  .card-body {
    padding: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #4a4a4a;
  }

  .form-control {
    border-radius: 5px;
    border: 1px solid #b3e6b3;
    padding: 10px;
    width: 100%;
    background-color: #f2f9f2;
  }

  .btn-submit {
    background-color: #006400;
    border-color: #006400;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
  }

  .btn-submit:hover {
    background-color: #004d00;
    border-color: #004d00;
  }

  .text-center {
    text-align: center;
  }

  .text-danger {
    color: #ff4d4d;
  }
</style>

<div class="text-center">
  <h2>Login</h2>
</div>

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Login</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            {% for field in form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field}}
                {% if field.errors %}
                  <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
              </div>
            {% endfor %}

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
