{% extends "navbar/base.html" %}
{% load custom_filter %}

{% block content %}
<div class="container mt-5">
  <div class="text-center mb-4">
    <h2 class="fw-bold">Leave Entry</h2>
    <h5 class="text-muted">Please fill in the details below for your leave entry!</h5>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow rounded-4">
        <div class="card-header text-center text-white" style="background-color: rgb(233, 182, 43);">
          <h5 class="mb-0">Leave Entry Form</h5>
        </div>

        <div class="card-body">
          <form method="post" class="custom-form">
            {% csrf_token %}

            <div class="mb-3">
              {{ form.start_date.label_tag }}
              {{ form.start_date|add_class:"form-control" }}
            </div>

            <div class="mb-3">
              {{ form.end_date.label_tag }}
              {{ form.end_date|add_class:"form-control" }}
            </div>

            <div class="mb-3">
              {{ form.reason.label_tag }}
              {{ form.reason|add_class:"form-control" }}
            </div>

            <div class="form-actions">
              <a href="{% url 'dashboard' %}" class="btn btn-secondary me-2 mt-2">
                ← Back
              </a>
              <button type="submit" class="btn btn-success mt-2 px-4">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
