{% extends "navbar/base.html" %}
{% load custom_filter %}

{% block content %}
<style>
  .card-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .card-container h2,
  .card-container h3 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
  }
</style>

<div class="card-container">
  <h2>Leave Entry</h2>
  <form method="post" class="custom-form">
    {% csrf_token %}

    <div class="form-group">
      {{ form.start_date.label_tag }}
      {{ form.start_date|add_class:"form-control" }}
    </div>

    <div class="form-group">
      {{ form.end_date.label_tag }}
      {{ form.end_date|add_class:"form-control" }}
    </div>

    <div class="form-group">
      {{ form.reason.label_tag }}
      {{ form.reason|add_class:"form-control" }}
    </div>

    <div class="form-actions">
       <a href="{% url 'dashboard' %}" class="back-btn">← Back</a>
       <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
