{% extends "navbar/base.html" %}
{% load custom_filter %}

{% block content %}
<div class="container mt-5">
  <div class="text-center mb-4">
    <h2 class="fw-bold">Add Task</h2>
    <h5 class="text-muted">Please add your task details here!</h5>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow rounded-4">
        <div class="card-header text-center text-white" style="background-color: rgb(233, 182, 43);">
          <h5 class="mb-0">Add Task Form</h5>
        </div>

        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            {% for field in form %}
              <div class="mb-3">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                  <div class="text-danger small mt-1">{{ field.errors }}</div>
                {% endif %}
              </div>
            {% endfor %}

            <div class="form-actions">
              <a href="{% url 'dashboard' %}" class="btn btn-secondary me-2 mt-2">
                ← Back
              </a>
              <button type="submit" class="btn btn-success mt-2 px-4">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
