{% extends "navbar/base.html" %}
{% load custom_filter %}

{% block content %}
<div class="text-center">
  <h2>Add Task</h2>
  <h4>Please add your task details here!</h4>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Add Task</h2>
        </div>
        <!-- <div style="text-align: right;">
          <a href="{% url 'task_list' %}" class="btn btn-primary mt-3">See list</a>
        </div> -->
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            {% for field in form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                  <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
              </div>
            {% endfor %}

            <div class="form-actions">
              <a href="{% url 'dashboard' %}" class="back-btn">← Back</a>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
